*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS HEX
--malachite: #5CDB62ff;
--electric-blue: #65def1ff;
--prussian-blue: #003249ff;
--bittersweet: #ee6352ff;
 */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}

.header a {
  color: #000;
  font-size: 25px;
}

.page {
  width: 100%;
  height: 100vh;
  padding: 100px;
}

.number0 {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: #5CDB62ff;
}

abbr {
  font-style: italic;
  color: blueviolet;
}

.number1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: #65def1ff;
}

.number2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ee6352ff;
  gap: 2em;
}

.number3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 50);
}

img.testing {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.number4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #003249ff;
  gap: 2em;
}

address a:hover {
  text-decoration: none;
  background-color: #edf5e1;
}

.whatsapp_button {
  width: 150px;
}